@import '../theme.css';

.dataSourceScreen {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    width: auto;
    height: fit-content;
    margin: 0;
    background-color: var(--page-background);
    padding: 10px;
    border-radius: var(--border-radius);
}

.dataSourceScreen h1 {
    margin-bottom: 50px;
}

.file-upload-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dataSourceScreen .symmetricButtonBalancer {
    flex: 0;
    display: flex;
    min-width: 56px;
    height: auto;
    padding: 10px;
    margin: 10px;
    background-color: var(--page-background);
    border: 2px solid var(--page-background);
}

.dataSourceScreen .button {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    width: fit-content;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: var(--border-radius);
}

.dataSourceScreen .buttonDisabled {
    background-color: var(--page-background);
    border: 2px solid var(--page-background);
}

.dataSourceScreen .buttonEnabled {
    background-color: var(--enabled-button-background);
    border: 2px solid var(--enabled-button-border);
}

.dataSourceScreen .buttonEnabled:hover {
    background-color: var(--enabled-button-hover);
}

.dataSourceScreen .buttonEnabled:active {
    background-color: var(--enabled-button-active);
}

.dataSourceCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: auto;
    margin: 10px;
    border-radius: var(--border-radius);
    padding: 20px;
    background: var(--inner-element-background);
    border: 2px solid var(--inner-element-border);
}

.dataSourceCard h2 {
    margin-bottom: 25px;
}

.dataSourceCard p {
    padding: 0 20px;
    color: var(--text-light);
}
