@import '../theme.css';

.dataSynchronizationScreen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 900px;
    width: auto;
    height: fit-content;
    margin: 0;
    padding: 10px;
    background-color: var(--page-background);
    border-radius: var(--border-radius);
}

.dataSynchronizationScreen .errorMessage {
    position: absolute;
}
