@import '../theme.css';

.dataSourceScreen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 900px;
    width: auto;
    height: fit-content;
    margin: 0;
    padding: 10px;
    background-color: var(--page-background);
    border-radius: var(--border-radius);
}

.dataSourceScreen h1 {
    margin-bottom: 50px;
}

.file-upload-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
