@import './theme.css';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--preferred-font), sans-serif;
    color: var(--text-heavy);
    background-color: var(--window);
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}

h1 {
    font-size: 3rem;
    color: var(--text-heavy);
}

h1 b {
    color: var(--text-light);
}

h2 {
    font-size: 1.6rem;
    color: var(--text-light);
}

h2 b {
    color: var(--accent);
}
